.jumbotron {
    background-color: white;
}

body {
    padding: 10px;
    margin: 5px
}

hr {
    border: 1px solid red;
}

img {
    text-align: center;
    display: flex;
    flex-direction: column;

    
}
